$headerHeight: 50px;

body {
  background-color: #F5F8FA;
  font-size: 16px;
  font-family: Raleway;

  @media (min-width: 768px) {
    font-size: 18px;
  }
}

@import './_header';
@import './_carousel';
@import './_content';
@import './_footer';
